/**
 * Potato Clicker Styles
 */

html,
body {
    margin: 0;
    padding: 0;
    background-color: #061876;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.game {
    padding: 20px;
    color: #f3f3f4;
}

h1 {
    margin-top: 0;
}

button {
    padding: 8px 18px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.actions {
    margin-top: 18px;
}

.Sell_Price {
    width:200px;
    height:20px;
    display: block;
    background-color: aquamarine;

}
#cutePotato{
    background:transparent;
   position: fixed;
   top: calc(50% - 411px);
   left:calc(50% - 411px);
}